<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
<a href="/getMembers">Все карточки</a>
<h4>Основная информация:</h4>
<form action="#" th:action="@{/addMember}" th:object="${member}" method="post">
    <p>Фамилия: <input type="text" th:field="*{lastName}" /></p>
    <p>Имя: <input type="text" th:field="*{firstName}" /></p>
    <p>Отчество: <input type="text" th:field="*{middleName}" /></p>
    <p>Адрес (Фактический): <input type="text" th:field="*{address}" /></p>
    <p>Телефон: <input type="text" th:field="*{phone}" /></p>
    <p>E-mail: <input type="text" th:field="*{email}" /></p>
    <p>Участник АДНП:
    <select th:field="*{memberType}">
        <option th:each="memberType : ${T(xyz.bradibarus.pestovocommunity.model.Member.MemberType).values()}"
                th:value="${memberType}"
                th:text="${memberType}">
        </option>
    </select>
    </p>
    <h4>Участник АДНП:</h4>
    <p>Дата присоединения: <input type="date" th:field="*{joined.joinDate}" /></p>
    <p>Номер протокола: <input type="text" th:field="*{joined.protocolNumber}" /></p>
    <h4>Пасспортные данные:</h4>
    <p>Кем выдан: <input type="text" th:field="*{passport.authorityName}" /></p>
    <p>Код подразделения: <input type="text" th:field="*{passport.authorityCode}" /></p>
    <p>Когда выдан: <input type="date" th:field="*{passport.date}" /></p>
    <p>Адрес (Регистрации): <input type="text" th:field="*{passport.address}" /></p>
    <p>Серия: <input type="text" th:field="*{passport.series}" /></p>
    <p>Номер: <input type="text" th:field="*{passport.number}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>